body {
    background-color: #FFFCE6;
}

.textFront{
	font-style: italic;
}

.main-box{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1 {
    font-size: 60px;
}

